#noscript-map {
    aspect-ratio: 2 / 1;
}

#map {
    aspect-ratio: 2 / 1;
    width: 60dvw;
}

@media screen and (orientation: portrait) {
    #noscript-map {
        aspect-ratio: initial;
        height: 85dvh;
        width: 90dvw;
        object-fit: cover;
    }
    #map {
        width: 90dvw;
        height: 85dvh;
        aspect-ratio: initial;
    }
}
