#product-container {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}

/* Product */
.product {
    /* font-size: 1em; */
    width: 30em;
    height: 30em;
    margin: 1em;
}

.product h5 {
    font-weight: lighter;
}

/* Footer for product */
.product-footer {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    background-color: var(--main-color-reg);
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

/* Product image */
.product img {
    height: 75%;
    width: 100%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

/* Media queries */
@media  screen and (max-width: 660px) {
    .product {
        width: 25em;
        height: 25em;
    }
}

@media screen and (max-width: 560px) {
    .product {
        width: 20em;
        height: 20em;
    }
}

@media screen and (max-width: 460px) {
    .product {
        width: 15em;
        height: 15em;
    }

    .product-footer h4 {
        font-size: 1.3rem;
    }
    
    .product-footer h5 {
        font-size: 1rem;
    }
}

@media screen and (max-width: 360px) {
    .product {
        width: 10em;
        height: 10em;
    }

    .product-footer h4 {
        font-size: 1.1rem;
    }
    
    .product-footer h5 {
        font-size: 0.9rem;
    }
}