@import url('https://fonts.googleapis.com/css2?family=Abel&family=Italiana&display=swap');


.abel-regular {
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: "abel", sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

#productContainer {
    /* display: flex; */
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}

/*produkt*/
.product {
    font-size: 1em;
    width: 30em;
    height: 30em;
    margin: 1em;
}

/*produkt footer*/
.productFooter {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: beige;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

/*produkt namn*/
.productFooter h1 {
    font-size: 1.728rem;
    color: rgb(0, 0, 0);
}

/*produkt pris*/
.productFooter h2 {
    font-size: 1.44rem;
    font-weight: lighter;
    color: rgb(0, 0, 0);
}
/*produkt bild*/
.product img {
    height: 75%;
    width: 100%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}



/*Media queries*/
@media  screen and (max-width: 660px) {
    .product {
        width: 25em;
        height: 25em;
    }
}

@media screen and (max-width: 560px) {
    .product {
        width: 20em;
        height: 20em;
    }
}

@media screen and (max-width: 460px) {

    .product {
        width: 15em;
        height: 15em;
    }
    .productFooter h1 {
        font-size: 1.3em;
    }
    
    .productFooter h2 {
        font-size: 1rem;
    }
}

@media screen and (max-width: 360px) {
    .product {
        width: 10em;
        height: 10em;
    }
    .productFooter h1 {
        font-size: 1.1em;
    }
    
    .productFooter h2 {
        font-size: 0.9em;
    }
}