@import url('https://fonts.googleapis.com/css2?family=Abel&family=Italiana&display=swap');

:root {
    --main-color-light: rgb(255, 255, 242);
    --main-color-reg: rgb(245, 245, 220);
    --main-color-darker: rgb(202, 202, 182);
    --main-color-dark: rgb(0, 0, 0);
    --main-logo-color: rgb(206, 175, 73);
    --btn-hover-color: var(--main-color-darker);

    --main-text-color: var(--main-color-dark);
    --secondary-text-color: var(--text-color-light);
    --text-color-light: var(--main-color-light);
    --link-color: var(--main-color-dark);
    --main-border-color: var(--main-color-dark);
    --main-backround-color-dark: var(--main-color-dark);

    --border-thin: 1px solid var(--main-border-color);
    --border-reg: 2px solid var(--main-border-color);
}

* {
    margin: 0;
    padding: 0;
    font-family: "abel", sans-serif;
    text-wrap: balance;
}

body {
    background-color: var(--main-color-light);
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

/*styling för h1-h6 och p taggar*/
h1{font-size: 2.986rem;}
h2{font-size: 2.488rem;}
h3{font-size: 2.074rem;}
h4{font-size: 1.728rem;}
h5{font-size: 1.44rem;}
h6{font-size: 1.2rem;}
p{font-size: 1rem;}

a {
    color: var(--link-color);
}

.container {
    display: flex;
}

.centered-container {
    align-items: center;
    justify-content: center;
}

.flex-start-container {
    align-items: flex-start;
    justify-content: flex-start;
}

.wh-100 {
    width: 100%;
    height: 100%;
}

/*Header*/
header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 8em;
    background-color: var(--main-backround-color-dark);
    z-index: 1;
}

/*Titel*/
#title {
    color: var(--main-logo-color);
    height: 50%;
    margin-bottom: 0.5em;
    font-weight: bolder;
    font-size: 4.5rem;
}

#header-container {
    flex-direction: column;
}

/*Logga*/
#logo {
    width: auto;
    height: 95%;
    position: absolute;
    left: 1rem;
}

/*Stängt eller öppet*/
#open-or-closed-container {
    background-color: var(--main-color-reg);
    color: var(--main-text-color);
    font-weight: bold;
    width: 100%;
    height: 3rem;
}

/*Bildspel och blommogram*/
#slideshow-and-flowergram-container {
    flex-direction: column;
    height: 82vh;
}

#slideshow-container {
    flex-direction: row;
    position: relative;
    overflow: hidden; 
}

/*Blommogrammet*/
#flowergram-container {
    flex-direction: column;
    width: 40rem;
    height: 80%;
    position: absolute;
    left: 5rem;
    top: 10rem;
}

#flowergram-container h2{
    color: var(--secondary-text-color);
}

#flowergram-container h4{
    color: var(--main-text-color);
    width: 60%;
    height: 5rem;
    background-color: var(--main-color-reg);
    border: var(--border-reg);
    border-radius: 1rem;
}

#flowergram-container h4:hover {
    background-color: var(--btn-hover-color);
    cursor: pointer;
}

#flowergram {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
    height: 10rem;
    flex-direction: column;
    background-color: var(--main-color-reg);
    margin-top: 3rem;
    padding: 1rem;
    border-radius: 1rem;
    border: var(--border-reg);
}

#flowergram.show {
    visibility: visible;
    opacity: 1;
    flex-direction: column;
}

#flowergram p {  
    width: 90%;
    color: var(--main-text-color);
}

#flowergram-separator {
    background-color: var(--main-border-color);
    width: 100%;
    height: 1px;
    transform: scaleY(0.5);
    transform-origin: center;
    border: none;
    margin: 0.2rem 0;
}

#input-container {
    margin-top: 0.5rem;
}

#postal-code {
    background-color:var(--main-color-light);
    width: 65%;
    height: 2rem;
    font-size: 1rem;
    border: var(--border-thin);
    padding: 0 0 0 2rem;
    border-radius: 0.5rem 0 0 0.5rem;
}

#postal-code::placeholder {
    color: var(--main-text-color);
}

#postal-code:focus {
    outline: none;
}

#postal-code-btn {
    background-color: var(--main-color-light);
    border-radius: 0 0.5rem 0.5rem 0;
    border: var(--border-thin);
    border-left: none;
    width: 2.5rem;
    background-image: url('../images/search-thin-black.svg');
    background-size: 1.3rem;
    background-repeat: no-repeat;
    background-position: center;
}

#postal-code-btn:hover {
    background-color: var(--btn-hover-color);
    cursor: pointer;
}

.fade-in {
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
/*Blommogrammet slutar här*/

/*Bildspel*/
/* .slide klassen stilar varje bild i bildspelet */
.slide {
    object-fit: cover;
    position: absolute;
    opacity: 0;
    animation: fade 18s infinite;
}

/* Animerar den första bilden med full opacitet genom hela animationen */
.slide:nth-child(1) {
    animation: fadeFirst 18s infinite;
}

/* Fördröjer animationen för den andra bilden med 6 sekunder */
.slide:nth-child(2) {
    animation-delay: 6s;
}

/* Fördröjer animationen för den tredje bilden med 12 sekunder */
.slide:nth-child(3) {
    animation-delay: 12s;
}


/* Bildsanimation för att fasa in och ut bilder */
@keyframes fade {
    0% { opacity: 0; }
    33.33% { opacity: 1; }
    66.66% { opacity: 0; }
    100% { opacity: 0; }
}

/* Bildsanimation för att hålla första bilden med full opacitet */
@keyframes fadeFirst {
    0% { opacity: 1; }
    33.33% { opacity: 1; }
    66.66% { opacity: 1; }
    100% { opacity: 1; }
}

/*Avgränsare*/
#divider-container {
    width: 100%;
    height: 10vh;
}

#divider-container hr {
    background-color: var(--main-border-color);
    margin: 0 5em;
    height: 1px;
    flex-grow: 1;
    transform: scaleY(0.5);
    transform-origin: center;
    border: none;
}

/*Footer*/
footer {
    flex-direction: column;
    width: 100%;
    min-height: 20vh;
    background-color: var(--main-color-light); 
    z-index: 1;
    padding-top: 1%;
}

#footer-top {
    width: 100%;
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-container {
    position: relative; /* Behövs för att positionera pseudeoelement */
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

/*Skapar ett pseudeoelement inuti footer-container-1 och footer-container-2.
   Pseudeoelementet placeras absolut med ett avstånd på 10% från toppen och botten,
   samt längst till höger (skapar en border)*/
#footer-container-1::after, #footer-container-2::after {
    content: '';
    position: absolute;
    top: 10%;
    bottom: 10%;
    right: 0;
    width: 1px;
    background-color: var(--main-border-color);
}

#footer-bottom {
    width: 25%;
    height: 25%;
}

#footer-info, .opening-hours, .closed-days {
    list-style: none; 
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.footer-col{
    margin: 0rem 0.5rem;
}

/*Sociala medier*/
#social-media-container {
    justify-content: center;
    list-style: none;
}

.social-media-icon {
    margin: 0 2em;
}

#social-media-container img {
    width: 3rem;
    height: 3rem;
}

/* Media queries */
@media screen and (max-width: 1600px) {
    html, body {
        height: 100%;
    }

    #slideshow-and-flowergram-container {
        width: 100%;
        height: 100vh;
    }

    .slide {
        width: 100%;
        height: 100vh; 
        border-radius: 0; 
    }
}

@media screen and (max-width: 1230px) {
    .flowergram{
        width: 100%;
        height: 40%;
        bottom: 0;
        border-style: none;
    }
}

@media screen and (max-width: 700px) { 
    html {
        font-size: 12px;
    }
    
    #flowergram-container {
        width: 20rem;
        left: 1rem;
        top: 5rem;
    }

    #flowergram {
        height: 12rem;
    }

    #flowergram {
        margin-top: 1rem;
    }

    #footer-top {
        grid-template-columns: 1fr;
    }

    .footer-container {
        justify-content: center;
    }

    #footer-container-1::after, #footer-container-2::after {
        content: none;
    }

    #footer-info {
        margin-bottom: 1rem;
    }

    .footer-col {
        margin-bottom: 1rem;
    }

    #footer-bottom {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 500px) {
    #logo {
        width: 12%;
        height: auto;
    }
}

@media screen and (max-width: 400px) {
    #logo {
        width: 15%;
    }

    .social-media-icon {
        margin: 0 1em;
    }
}