* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 255, 242);
    padding: 0;
    margin: 0;
}

/*header*/
.title{
    color: white;
    font-size: 3em;
    font-family: monospace;
    height: 50%;
    margin-bottom:1vh;
}

/*header message*/
.header p{
    height: 30%;
    color: white;
    font-size: 1em;
    font-family: monospace;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    height: 8vh;
}

.headerContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.logo{
    width: 4%;
    position: fixed;
    left: 0;
    margin: 1vh;
}

/*footer*/
footer{
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    justify-content: center; 
    align-items: center; 
}

.footerInfo, .openingHours {
    list-style: none; 
    padding-top: 1em;
    text-align: center; 
    margin-bottom: 1em; 

}

.socialMedia{
    display: flex;
    justify-content: center;
    list-style: none;
}

.socialMedia li {
    margin: 0 0.5em;
}

.socialMedia img {
    height: 30px;
    width: 30px;
}


/*media queries*/
@media screen and (max-width: 1080px) {
    
    .logo {
        width: 6%;
    }

}

@media screen and (max-width: 768px) {
    .footerInfo, .openingHours {
        width: 100%; 
        text-align: center;
    }
    .footerInfo {
        order: 1;
    }
    .openingHours {
        order: 2;
    }
    .socialMedia {
        order: 3;
    }
}

@media screen and (max-height: 720px) {
    .title {
        font-size: 2em;
    }

    .logo {
        width: 4.5%;
    }
}

@media screen and (max-width: 680px) {
    .logo {
        width: 8%;
    }
}


@media screen and (max-width: 500px) {
    .title {
        font-size: 3em;
    }
    footer {
        display: flex;
        flex-direction: column;
    }
    .logo {
        width: 12%;
    }
}

@media screen and (max-width: 400px) {

    .header p {
        font-size: 0.8em;
    }

    .logo {
        width: 15%;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }
    .footerInfo, .openingHours, .socialMedia {
        width: 100%;
        text-align: center;
    }
    .footerInfo, .openingHours {
        margin-bottom: 1em;
    }
    .footerInfo {
        order: 1;
    }
    .openingHours {
        order: 2;
    }
    .socialMedia {
        order: 3;
    }
}