:root {
    --main-color-light: rgb(255, 255, 242);
    --main-color-reg: rgb(235, 235, 211.02);
    --main-color-darker: rgb(202, 202, 182);
    --main-color-dark: rgb(0, 0, 0);
    --main-logo-color: rgb(206, 175, 73);
    --main-color-gray: rgb(128, 128, 128);
    --main-color-deal: rgb(97, 72, 207);
    --btn-hover-color: var(--main-color-darker);

    --main-text-color: var(--main-color-dark);
    --secondary-text-color: var(--text-color-light);
    --text-color-light: var(--main-color-light);
    --link-color: var(--main-color-dark);
    --main-border-color: var(--main-color-dark);
    --main-backround-color-dark: var(--main-color-dark);

    --border-thin: 1px solid var(--main-border-color);
    --border-reg: 2px solid var(--main-border-color);
    --base-font-size: 1rem;

    /* This section defines font sizes that scale exponentially*/
    --lvl1-font-size: calc(var(--base-font-size) * 4.5);
    --lvl2-font-size: calc(var(--base-font-size) * pow(1.2, 8));
    --lvl3-font-size: calc(var(--base-font-size) * pow(1.2, 7));
    --lvl4-font-size: calc(var(--base-font-size) * pow(1.2, 6));
    --lvl5-font-size: calc(var(--base-font-size) * pow(1.2, 5));
    --lvl6-font-size: calc(var(--base-font-size) * pow(1.2, 4));
    --lvl7-font-size: calc(var(--base-font-size) * pow(1.2, 3));
    --lvl8-font-size: calc(var(--base-font-size) * pow(1.2, 2));
    --lvl9-font-size: calc(var(--base-font-size) * pow(1.2, 1));
    --lvl10-font-size: calc(var(--base-font-size) * pow(1.2, 0));
    --lvl11-font-size: calc(var(--base-font-size) * pow(1.2, -1));

    --header-height: 8rem;
    --page-top-banner-height: 3rem;
    --slideshow-height: 82vh;
    --slideshow-height-large-portrait: 40vh;
    --slideshow-responsive-height: 100vh;
    --body-height-original: calc(var(--header-height) + var(--slideshow-height));
    --body-height: var(--body-height-original);
    --body-height-large-portrait: calc(var(--header-height) + var(--slideshow-height-large-portrait));
    --body-responsive-height-original: calc(var(--header-height) + var(--slideshow-responsive-height));
    --body-responsive-height: var(--body-responsive-height-original);
}
