
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Italiana&display=swap');


.abel-regular {
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

* {
    margin: 0;
    padding: 0;
    font-family: "abel", sans-serif;
}



body {
    
    background-color: rgb(255, 255, 242);
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

/*Titel*/
.title{
    color: rgb(206, 175, 73);
    font-size: 2.986rem;
    height: 50%;
    margin-bottom:0.5em;
}

/*Header meddelande*/
.header p{
    height: 30%;
    color: rgb(206, 175, 73);
    font-size: 1rem;
}

/*Header*/
.header{
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    height: 8em;
    z-index: 1;
}

.headerContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/*Logga*/
.logo{
    height: 95%;
    width: auto;

}

/*Main delen av hemsidan*/
main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 72vh;
}
/*Här slutar footer*/

/*Bildspel*/

/* .slide klassen stilar varje bild i bildspelet */
.slide {
    object-fit: cover;
    position: absolute;
    width: 60%;
    height: 60%;
    opacity: 0;
    animation: fade 18s infinite;
    border-radius: 1%
}

/* Animerar den första bilden med full opacitet genom hela animationen */
.slide:nth-child(1) {
    animation: fadeFirst 18s infinite;
}

/* Fördröjer animationen för den andra bilden med 6 sekunder */
.slide:nth-child(2) {
    animation-delay: 6s;
}

/* Fördröjer animationen för den tredje bilden med 12 sekunder */
.slide:nth-child(3) {
    animation-delay: 12s;
}


/* Bildsanimation för att fasa in och ut bilder */
@keyframes fade {
    0% { opacity: 0; }
    33.33% { opacity: 1; }
    66.66% { opacity: 0; }
    100% { opacity: 0; }
}

/* Bildsanimation för att hålla första bilden med full opacitet */
@keyframes fadeFirst {
    0% { opacity: 1; }
    33.33% { opacity: 1; }
    66.66% { opacity: 1; }
    100% { opacity: 1; }
}

.dividerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 10%;
}

.dividerContainer hr{
    background-color: black;
    margin: 5em;
    width:40%;
}

/*Iframe*/
.produktIframe {
    width: 100em;
    height: 35em;
    display: block;
    display: flex;
    position: relative;
    margin: 0 auto 0 auto;
    border: 0;
}

/*Footer*/
footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 20vh;
    background-color: #f1f1f1;
    justify-content: center; 
    align-items: center;
    z-index: 1;
    padding-top:1%;
}

.footerTop{
    width: 100%;
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footerCon1, .footerCon2, .footerCon3 {
    display: flex;
    justify-content: center;
    position: relative; /* Behövs för att positionera pseudeoelement */
}

/*Skapar ett pseudeoelement inuti footerCon1 och footerCon2.
   Pseudeoelementet placeras absolut med ett avstånd på 10% från toppen och botten,
   samt längst till höger (skapar en border)*/
.footerCon1::after, .footerCon2::after {
    content: '';
    position: absolute;
    top: 10%; 
    bottom: 10%; 
    right: 0; 
    width: 1px; 
    background-color: rgb(0, 0, 0); 
}


.footerCon4{
    height: 25%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerInfo, .openingHours, .closedDays {
    list-style: none; 
}

.footerInfo a {

    color: black;
}

.footer span {
    font-weight: bold;
    font-size: 1.2rem;
}

.footer li{
    font-size: 1rem;
}

.openingHours, .closedDays {
    text-align: left;
}

/*Sociala medier*/
.socialMedia{
    display: flex;
    justify-content: center;
    list-style: none;
}

.socialMedia li {
    margin: 0 2em;
}

.socialMedia img {
    height: 3rem;
    width: 3rem;
}

/* Media queries */
@media screen and (max-width: 1600px) {
    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }

    main {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slideshow {
        width: 100%;
        height: 100vh; 
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slide {
        width: 100%;
        height: 100vh; 
        border-radius: 0; 
    }
}

@media screen and (max-width: 1080px) { 

}

@media screen and (max-height: 720px) {
    .title {
        font-size: 2em;
    }
}

@media screen and (max-width: 680px) {

}


@media screen and (max-width: 500px) {
    .hoursContainer {
        flex-direction: column;
        align-items: center;
    }
    .openingHours, .closedDays {
        width: 100%; 
        text-align: center; 
        margin-bottom: 1em;
    }
    footer {
        display: flex;
        flex-direction: column;
    }
    .logo {
        width: 12%;
        height: auto;
    }
    .footerInfo, .openingHours .closedDays {
        width: 100%; 
        text-align: center;
    }
    .footerInfo {
        order: 1;
    }
    .hoursContainer {
        order: 2;
    }
    .socialMedia {
        order: 3;
    }
}

@media screen and (max-width: 400px) {

    .header p {
        font-size: 0.8em;
    }
    
    .logo {
        width: 15%;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }
    .footerInfo, .openingHours, .socialMedia {
        width: 100%;
        text-align: center;
    }
    .footerInfo, .openingHours {
        margin-bottom: 1em;
    }
    .footerInfo {
        order: 1;
    }
    .hoursContainer {
        order: 2;
    }
    .socialMedia {
        order: 3;
    }
}
