
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Italiana&display=swap');


.abel-regular {
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

* {
    margin: 0;
    padding: 0;
    font-family: "abel", sans-serif;
}



body {
    
    background-color: rgb(255, 255, 242);
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

/*Header*/
.header{
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    height: 8em;
    z-index: 1;
}

/*Titel*/
.title{
    color: rgb(206, 175, 73);
    font-size: 2.986rem;
    height: 50%;
    margin-bottom:0.5em;
    font-weight: bolder;
}

/*Header meddelande*/
.header p{
    height: 30%;
    color: rgb(206, 175, 73);
    font-weight: bold;
    font-size: 1.2rem;
}

.headerContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/*Logga*/
.logo{
    height: 95%;
    width: auto;
    position: absolute;
    left:1rem;

}
/*Stängt eller öppet*/
.openOrClosedContainer{
    background-color: beige;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Main delen av hemsidan*/
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 82vh;
}

.slideshowContainer {
    display: flex;
    justify-content: center;
    width: 75%;
    height: 85%;
    flex-direction: row;
    align-items: center;
    position: relative;
    border-radius: 1rem;
    overflow: hidden; /* Ensure slides respect the container's border-radius */
}

.flowerGram{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: beige;
    position: absolute;
    right: 0;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-left: 5px solid rgb(0, 0, 0); /* Border only on the left side */
}

.flowerGram h1{
    margin: 1rem 0.5rem 1rem 0.5rem; 
    width: 90%;
    text-align: center;
    font-size: 1.728rem;
    color: rgb(0, 0, 0);
}

.flowerGram p{
    margin: 1rem 0.5rem 1rem 0.5rem;    
    width: 90%;
    font-size: 1rem;
    color: rgb(0, 0, 0);
}

.flowerGram a{
    color: black;
}

#postalCode{
    width: 65%;
    margin: 0rem 0.5rem 1rem 0.5rem; 
    font-size: 1rem;
}

.postalCodeBtn {
    background-color: white;
    color: black;
    padding: 0rem 0.4rem;
    text-align: center;
    display: inline-block;
    font-size: 1rem;
    border-radius: 0.2rem;
    transition-duration: 0.6s;
}

.postalCodeBtn:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

/*Bildspel*/
/* .slide klassen stilar varje bild i bildspelet */
.slide {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: fade 18s infinite;
    border-radius: 1rem;
}

/* Animerar den första bilden med full opacitet genom hela animationen */
.slide:nth-child(1) {
    animation: fadeFirst 18s infinite;
}

/* Fördröjer animationen för den andra bilden med 6 sekunder */
.slide:nth-child(2) {
    animation-delay: 6s;
}

/* Fördröjer animationen för den tredje bilden med 12 sekunder */
.slide:nth-child(3) {
    animation-delay: 12s;
}


/* Bildsanimation för att fasa in och ut bilder */
@keyframes fade {
    0% { opacity: 0; }
    33.33% { opacity: 1; }
    66.66% { opacity: 0; }
    100% { opacity: 0; }
}

/* Bildsanimation för att hålla första bilden med full opacitet */
@keyframes fadeFirst {
    0% { opacity: 1; }
    33.33% { opacity: 1; }
    66.66% { opacity: 1; }
    100% { opacity: 1; }
}

/*Avgränsare*/
.dividerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 10%;
}

.dividerContainer hr{
    background-color: black;
    margin:0 5em;
    flex-grow: 1;
    height: 1px;
    transform: scaleY(0.5);
    transform-origin: center;
    border: none;
}


/*Embeddar en annan html fil i den här diven med javascript*/
.productEmbedd {
    width: 100em;
    height: 35em;
    display: block;
    position: relative;
    margin: 0 auto 0 auto;
}

/*Footer*/
footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 20vh;
    background-color: #f1f1f1;
    justify-content: center; 
    align-items: center;
    z-index: 1;
    padding-top:1%;
}

.footerTop {
    width: 100%;
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.footerCon1, .footerCon2, .footerCon3 {
    display: flex;
    justify-content: center;
    position: relative; /* Behövs för att positionera pseudeoelement */
}

/*Skapar ett pseudeoelement inuti footerCon1 och footerCon2.
   Pseudeoelementet placeras absolut med ett avstånd på 10% från toppen och botten,
   samt längst till höger (skapar en border)*/
.footerCon1::after, .footerCon2::after {
    content: '';
    position: absolute;
    top: 10%; 
    bottom: 10%; 
    right: 0; 
    width: 1px; 
    background-color: rgb(0, 0, 0); 
}


.footerCon4{
    height: 25%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerInfo, .openingHours, .closedDays {
    list-style: none; 
}

.footerInfo a {

    color: black;
}

.footer span {
    font-weight: bold;
    font-size: 1.2rem;
}

.footer li{
    font-size: 1rem;
}

.openingHours, .closedDays {
    text-align: left;
}

.openingHours {
    margin: 0rem 0.5rem 0rem 0.5rem;
}

.footerCon2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.openingHoursCon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/*Sociala medier*/
.socialMedia{
    display: flex;
    justify-content: center;
    list-style: none;
}

.socialMedia li {
    margin: 0 2em;
}

.socialMedia img {
    height: 3rem;
    width: 3rem;
}

/* Media queries */
@media screen and (max-width: 1600px) {
    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }

    main {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slideshow {
        width: 100%;
        height: 100vh; 
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slide {
        width: 100%;
        height: 100vh; 
        border-radius: 0; 
    }
}

@media screen and (max-width: 1230px) {
    .flowerGram{
        width: 100%;
        height: 40%;
        bottom: 0;
        border-style: none;
    }
}

@media screen and (max-width: 700px) { 
    .flowerGram{
        width: 100%;
        height: 45%;
        bottom: 0;
        border-style: none;
    }
    .footerTop {
        grid-template-columns: 1fr;
    }
    .footerCon1, .footerCon2, .footerCon3 {
        justify-content: center;
        text-align: center;
    }

    .openingHours, .closedDays {
        text-align: center;
    }

    .footerCon1::after, .footerCon2::after {
        content: none;
    }

    .footerInfo {
        order: 1;
        margin-bottom: 1rem;
    }
    .openingHours {
        order: 2;
        margin-bottom: 1rem;
    }
    .closedDays {
        order: 3;
        margin-bottom: 1rem;
    }
    .footerCon4 {
        order: 4;
        margin-top: 1rem;
    }
}

@media screen and (max-height: 720px) {
    .title {
        font-size: 2em;
    }
}

@media screen and (max-width: 500px) {
    .flowerGram{
        width: 100%;
        height: 50%;
        bottom: 0;
        border-style: none;
    }
    .logo {
        width: 12%;
        height: auto;
    }
}

@media screen and (max-width: 400px) {
    .flowerGram{
        width: 100%;
        height: 60%;
        bottom: 0;
        border-style: none;
    }
    .header p {
        font-size: 0.8em;
    }   
    .logo {
        width: 15%;
    }
    .socialMedia li {
        margin: 0 1em;
    }
}
