<!DOCTYPE html>
<html lang="sv">
    <head>
        <!-- Noindex -->
        <meta name="robots" content="noindex, nofollow" />
        <meta name="googlebot" content="noindex, nofollow" />

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Favicon -->
        <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='images/florista-favicon-color.ico')}}" />
        <!-- Stylesheets -->
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/product.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/employee-information.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/interactive-map.css')}}" />
        <script defer src="{{url_for('static', filename='js/data.js')}}"></script>
        <!-- Scripts -->
        <script defer src="{{url_for('static', filename='js/flowergram.js')}}"></script>
        <script defer src="{{url_for('static', filename='js/open-hours.js')}}"></script>
        <script defer src="{{url_for('static', filename='js/show-script.js')}}"></script>
        <script defer src="{{url_for('static', filename='js/deal-of-the-day.js')}}"></script>
        <script defer src="{{url_for('static', filename='js/sort-closed-days.js')}}"></script>
        <script defer src="{{url_for('static', filename='js/dynamic-information.js')}}"></script>

        <!-- Needed for tests. Should always be loaded last -->
        <script defer src="{{url_for('static', filename='js/testing-wait-for-js.js')}}"></script>
        <title>florista</title>
    </head>
    <body>
    {% block content %}{% endblock %}
    </body>
</html>